<a href="https://colab.research.google.com/github/mrigendra-sudo/Quad_Hackers/blob/main/classified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
train = pd.read_csv("/content/International students Time management data.csv")

In [ ]:
dropc = ["Number","Age","Gender","Nationality","Program","Course","English","Academic","Attendance"]
y = train.drop(dropc,axis=1)
y= y.fillna(3,axis=0)
y

       6    9   11   12  13  15   16  7    8   10   14   17
0    4.0  3.0  3.0  4.0   5   3  4.0  4  5.0  4.0  5.0  4.0
1    1.0  4.0  3.0  4.0   5   2  3.0  4  3.0  4.0  3.0  2.0
2    4.0  4.0  2.0  4.0   5   1  1.0  5  4.0  4.0  2.0  2.0
3    4.0  2.0  2.0  3.0   3   3  4.0  2  4.0  2.0  3.0  4.0
4    3.0  3.0  3.0  3.0   3   4  3.0  2  3.0  2.0  3.0  4.0
..   ...  ...  ...  ...  ..  ..  ... ..  ...  ...  ...  ...
120  4.0  3.0  4.0  3.0   4   2  3.0  2  4.0  2.0  2.0  4.0
121  2.0  2.0  1.0  2.0   2   2  1.0  2  3.0  3.0  2.0  4.0
122  5.0  3.0  3.0  3.0   5   1  4.0  3  3.0  3.0  2.0  3.0
123  2.0  1.0  2.0  2.0   5   1  4.0  2  2.0  2.0  2.0  2.0
124  4.0  2.0  5.0  4.0   5   3  4.0  1  4.0  4.0  4.0  5.0

[125 rows x 12 columns]

In [ ]:

y = np.sum(y,axis=1)
y

0      48.0
1      38.0
2      38.0
3      36.0
4      36.0
       ...
120    37.0
121    26.0
122    38.0
123    27.0
124    45.0
Length: 125, dtype: float64

In [ ]:
train = train.drop(["6","7","8","9",'10','11','12','13','14','15','16','17'],axis=1)

In [ ]:
train['y'] = y
train = train.dropna()
train

     Number    Age Gender Nationality  ...  English Academic Attendance     y
1         2  26-30      M       China  ...  60%~70%  50%~59%         S3  38.0
3         4  21-25      M     Vietnam  ...  60%~70%  60%~70%         S0  36.0
4         5  21-25      M       China  ...  60%~70%  50%~59%         S1  36.0
5         6  21-25      M       China  ...  60%~70%  60%~70%         S0  35.0
6         7  21-25      M       China  ...  60%~70%  60%~70%         S0  45.0
..      ...    ...    ...         ...  ...      ...      ...        ...   ...
120     121  21-25      M       China  ...  60%~70%  50%~59%         S1  37.0
121     122  31-35      F       China  ...  50%~59%  50%~59%         S1  26.0
122     123  26-30      M       Gongo  ...     >70%  60%~70%         S0  38.0
123     124  21-25      F     Ukraine  ...  60%~70%  60%~70%         S1  27.0
124     125  26-30      F       Korea  ...  60%~70%     >70%         S0  45.0

[101 rows x 10 columns]

In [ ]:
train = train.drop(["Number","Nationality","English"],axis=1)

In [ ]:
y = train['y']
train = train.drop('y',axis=1)

In [ ]:
train = pd.get_dummies(train)
train

     Age_18-20  Age_21-25  ...  Attendance_S3  Attendance_S4
1            0          0  ...              1              0
3            0          1  ...              0              0
4            0          1  ...              0              0
5            0          1  ...              0              0
6            0          1  ...              0              0
..         ...        ...  ...            ...            ...
120          0          1  ...              0              0
121          0          0  ...              0              0
122          0          0  ...              0              0
123          0          1  ...              0              0
124          0          0  ...              0              0

[101 rows x 29 columns]

In [ ]:
pro = y > 45
medium = y>37
needs_improvement = y<37

In [ ]:
train['pro'] = pro
train['medium'] = medium
train['needs_improvement'] = needs_improvement

In [ ]:
y = pd.get_dummies(y)

In [ ]:
train = pd.get_dummies(train)

In [ ]:
train[['pro','medium','needs_improvement']] = (train[['pro','medium','needs_improvement']]).astype(int)

In [ ]:
train

     Age_18-20  Age_21-25  Age_26-30  ...  pro  medium  needs_improvement
1            0          0          1  ...    0       1                  0
3            0          1          0  ...    0       0                  1
4            0          1          0  ...    0       0                  1
5            0          1          0  ...    0       0                  1
6            0          1          0  ...    0       1                  0
..         ...        ...        ...  ...  ...     ...                ...
120          0          1          0  ...    0       0                  0
121          0          0          0  ...    0       0                  1
122          0          0          1  ...    0       1                  0
123          0          1          0  ...    0       0                  1
124          0          0          1  ...    0       1                  0

[101 rows x 32 columns]

In [ ]:
y = train[['pro','medium','needs_improvement']]
train = train.drop(['pro','medium','needs_improvement'],axis=1)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(train,y,test_size=0.2)

In [ ]:
tree = DecisionTreeClassifier(max_features='log2')

In [ ]:
tree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features='log2', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
ypred = tree.predict(x_test)

In [ ]:
score = f1_score(y_test,ypred,average='micro')
score

0.6111111111111112

In [ ]:
tree.predict(x_test)

array([[0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 0],
       [0, 0, 1],
       [0, 0, 0],
       [0, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 0],
       [0, 1, 0],
       [0, 1, 0]])

In [ ]:
y_test

     pro  medium  needs_improvement
57     0       1                  0
122    0       1                  0
8      0       0                  1
116    0       1                  0
32     0       0                  1
118    0       1                  0
51     0       0                  1
68     1       1                  0
112    0       0                  1
59     0       0                  1
45     0       1                  0
35     0       0                  1
54     0       0                  0
98     0       1                  0
84     0       1                  0
48     0       0                  1
50     0       0                  1
43     0       0                  1
21     0       0                  0
55     0       1                  0
28     0       1                  0

In [ ]:
ypred1 = tree.predict(x_train)

In [ ]:
moelval = f1_score(y_train,ypred1,average='micro')
moelval

0.9090909090909091

In [ ]:
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
joblib.dump(tree, 'model.pkl')

['model.pkl']

Help on package sklearn.externals.joblib in sklearn.externals:

NAME
    sklearn.externals.joblib - # Import necessary to preserve backward compatibility of pickles

PACKAGE CONTENTS
    numpy_pickle

DATA
    __warningregistry__ = {'version': 4381, ('sklearn.externals.joblib is ...
    msg = 'sklearn.externals.joblib is deprecated in 0.21 a...e-serialize ...

FILE
    /usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
files.download('model.pkl')

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test.values.argmax(axis=1),ypred.argmax(axis=1))

array([[2, 1, 0],
       [1, 7, 1],
       [2, 4, 3]])